@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  body {
    background: #000;
    overflow: hidden;
  }
}

@layer components {
  /** App */
  .app {
    @apply fixed inset-x-0 inset-y-0 flex items-center justify-center;
  }
  .app__version {
    @apply absolute select-none pointer-events-none text-sm text-gray-600 right-0 bottom-0 px-1.5 py-1;
  }
  .app__github {
    @apply absolute flex items-center right-0 top-0 px-1.5 py-1 text-gray-600 fill-current gap-x-1 text-sm;
  }

  /** Splash */
  .splash {
    @apply flex flex-col items-center justify-center gap-y-6;
  }

  /** Menu */
  .menu {
    @apply relative box-border p-6;
    box-shadow:
      inset 0 0 0 2px #000,
      inset 0 0 0 4px #d34100,
      inset 0 0 0 6px #f3a261,
      inset 0 0 0 8px #000000,
      inset 0 0 0 10px #d34100,
      inset 0 0 0 12px #00a261,
      inset 0 0 0 14px #d34100,
      inset 0 0 0 16px #f3e3d3;
    background: #f3e3d3;
    .corner {
      position: absolute;
      background: url(./assets/corner.png) no-repeat;
      background-size: 32px 32px;
      background-color: #000;
      width: 16px;
      height: 16px;
      image-rendering: pixelated;
    }
    .corner-tl {
      top: 0;
      left: 0;
    }
    .corner-tr {
      top: 0;
      right: 0;
      background-position: -16px 0;
    }
    .corner-bl {
      bottom: 0;
      left: 0;
      background-position: 0 -16px;
    }
    .corner-br {
      bottom: 0;
      right: 0;
      background-position: -16px -16px;
    }
  }
  .menu__item {
    @apply block cursor-pointer px-1.5 py-0.5 w-full whitespace-nowrap hover:bg-dos-black hover:text-dos-white;
  }
  .menu__item--has-icon {
    @apply gap-x-2 flex items-center fill-current;
  }

  /** Game */
  .game {
    @apply w-full h-full flex items-stretch flex-col landscape:flex-row;
  }
  .game__tools {
    @apply flex grow-0 shrink-0 min-w-0 items-center px-2 landscape:flex-col landscape:py-4 landscape:px-0 bg-gray-800;
  }
  .game__tools__group-start,
  .game__tools__group-end {
    @apply flex flex-row landscape:flex-col;
  }
  .game__tools__group-start {
    @apply grow;
  }
  .game__tools__item {
    @apply block cursor-pointer fill-current text-white p-2 hover:bg-white/30 active:bg-white/40;
    svg {
      @apply size-5;
    }
  }
  .game__tools__item--disabled {
    @apply text-gray-500;
  }
  .game__screen {
    @apply relative flex-auto;
    canvas {
      @apply w-[var(--screen-width)] h-[var(--screen-height)];
      image-rendering: auto !important;
    }
    .dosbox-container {
      @apply w-full h-full;
    }
  }
  .game__canvas,
  .game__event-blocker {
    @apply absolute inset-x-0 inset-y-0;
  }

  /** Toast **/
  .toast {
    @apply absolute bottom-6 left-1/2 -translate-x-1/2 px-2 py-1.5 bg-white/80 pointer-events-none rounded-sm transition-opacity duration-500 opacity-0 text-sm;
  }

  .toast--active {
    @apply opacity-100;
  }

  /** Virtual Keyboard */
  .virtual-keyboard {
    @apply absolute right-0 bottom-0 select-none border-separate border-spacing-1;
    td {
      @apply size-[44px] p-0;
      @apply lg:size-[60px];
    }
  }
  .virtual-keyboard__key {
    @apply relative box-border w-full h-full rounded text-white bg-gray-800/50;
  }
  .virtual-keyboard__key:active::after {
    @apply absolute inset-x-0 inset-y-0 bg-white/20 rounded content-[''];
  }
  .virtual-keyboard__key__label {
    @apply absolute top-1.5 left-1.5 text-xs leading-none;
    @apply lg:text-sm;
  }
  .virtual-keyboard__key__or {
    @apply text-[75%] text-white/30;
  }
  .virtual-keyboard__key__description {
    @apply hidden absolute bottom-1.5 left-1.5 text-xs text-white/80;
    @apply lg:block;
  }
}
